.vlog-single-full-height-gallery-cover figcaption .post_title {
    color: #fff;
    font-weight: 400;
    margin-bottom: 12px;
    line-height: 20px;
    text-transform: uppercase;    
}
.vlog-single-full-height-gallery-cover figcaption .title {
    color: #5d2879;
    font-weight: 400;
    line-height: 17px;
    background: #fff;
    display: inline;    
}
.vlog-single-full-height-gallery-cover figcaption .desc {
    line-height: 17px;
    margin-top: 9px;
}
.vlog-single-full-height-gallery-cover{
    background: #000;
}
.vlog-single-full-height-gallery-cover .owl-item figcaption.gallery-caption {
    color: #fff;
    font-size: 1em;
    transition: all 0.5s ease;
}
.vlog-single-full-height-gallery-cover .gallery .owl-nav > div {
    padding: 4px 0;
}
.vlog-single-full-height-gallery-cover .gallery-item{
    padding: 0;
}
@media screen and (min-width: 768px){
    .vlog-single-full-height-gallery-cover .gallery {
        margin: 0;
        height: 100%;
    }
    .vlog-single-full-height-gallery-cover .owl-stage-outer,
    .vlog-single-full-height-gallery-cover .owl-stage-outer div{
        height: 100%;
    }
    .vlog-single-full-height-gallery-cover .owl-item figure{
        height: 100%;
    }
    .vlog-single-full-height-gallery-cover .owl-carousel .owl-item img{
        height: 100%;
        width: auto;
    }
    .vlog-single-full-height-gallery-cover .owl-item {
        transition: all 300ms ease;
    }

    .vlog-single-full-height-gallery-cover .owl-item {
        opacity: 0.3;
    }

    .vlog-single-full-height-gallery-cover .owl-item.center{
        opacity: 1;
    }
    .vlog-single-full-height-gallery-cover .owl-item.active {
        position: relative;
        z-index: 100;
    }
    .vlog-single-full-height-gallery-cover .owl-item.active.center{
        z-index: 200;
    }
    .vlog-single-full-height-gallery-cover .owl-item figcaption.gallery-caption {
        position: absolute;
        display: none;
        top: 5%;
        text-align: left;
        left: 100%;
        padding-left: 20px;
        width: 50%;
    }
    .vlog-single-full-height-gallery-cover .owl-item.center figcaption.gallery-caption{
        display: block;
    }
}
@media screen and (max-width: 1024px) and (min-width: 768px) and (orientation: portrait){
    .vlog-single-full-height-gallery-cover .owl-item {
        opacity: 1;
    }    
    .vlog-single-full-height-gallery-cover .owl-item figcaption.gallery-caption {
        position: relative;
        top: 5%;
        text-align: left;
        left: initial;
        padding-left: 20px;
        width: 100%;
    }    
    .gallery-columns-1 .owl-nav {
        top: 30%;
        margin-top: 0;
    }    
    .gallery-columns-1 .owl-nav .owl-prev {
        left: 1px;
    }  
    .gallery-columns-1 .owl-nav .owl-next {
        right: 1px;
    }      
    .vlog-single-full-height-gallery-cover .owl-carousel{
        margin: 0;
    }
    .vlog-single-full-height-gallery-cover .owl-item figcaption.gallery-caption {
        display: block;
    }
    .gallery-icon.portrait img{
        object-fit: contain;
        width: auto;
    }
    .vlog-single-full-height-gallery-cover figcaption .post_title {
        margin-top: 20px;
        margin-bottom: 20px;
    }    
    .vlog-single-full-height-gallery-cover figcaption .desc {
        margin-top: 20px;
        margin-bottom: 30px;
    }     
}
@media screen and (max-width: 767px){
    .gallery-columns-1 .owl-nav {
        top: 30%;
        margin-top: 0;
    }    
    .gallery-columns-1 .owl-nav .owl-prev {
        left: 1px;
    }  
    .gallery-columns-1 .owl-nav .owl-next {
        right: 1px;
    }      
    .vlog-single-full-height-gallery-cover .owl-carousel{
        margin: 0;
    }
    .vlog-single-full-height-gallery-cover .owl-item figcaption.gallery-caption {
        display: block;
    }
    .gallery-icon.portrait img{
        object-fit: contain;
        width: auto;
    }
    .vlog-single-full-height-gallery-cover figcaption .post_title {
        margin-top: 20px;
        margin-bottom: 20px;
    }    
    .vlog-single-full-height-gallery-cover figcaption .desc {
        margin-top: 20px;
        margin-bottom: 20px;
    }    
    
}
